<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.philips.platform.appframework"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.philips.platform.appframework.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name="com.philips.platform.appframework.AppFrameworkApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/af_app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Philips.DarkBlue.WhiteBackground"
        tools:replace="android:theme,android:label">

        <activity
            android:name=".introscreen.LaunchActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            </activity>
        <activity
            android:name=".HomeTabbedActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Philips.DarkBlue.Gradient.NoActionBar"/>
        <activity
            android:name=".flowmanager.homescreen.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Philips.DarkBlue.Gradient"/>
        <!--<receiver-->
            <!--android:name="NetworkReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter android:priority="999">-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--Credentials For LocatePhilips Near you feature(Google Map)-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- AIzaSyCMHfSC_TqL_PNqJX7pbaIyl154VnFrhec-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyABLxPKwgjrCBnnLvP55yAYnhpAHZmhLvY" />

    </application>

</manifest>