<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.platform.myapplicationlibrary">

    <application
        android:theme="@style/Theme.DLS"
        >

   		 <activity android:name="com.philips.platform.myapplication.DemoMicroAppApplicationActivity"/>

        <activity
            android:name="com.philips.platform.thsdemolaunch.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DLS.Purple.Bright" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.philips.platform.thsdemolaunch.THSDemoAddDependentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DLS.Purple.Bright" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
