<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.philips.platform.referenceapp">

    <application
        android:supportsRtl="true">

        <service
            android:name="com.philips.platform.referenceapp.services.RegistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
