<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.cdp.ui.catalog" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Philips.VeryLightBlue" >

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActionButtonsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".activity.ThemesActivity"
                  android:label="@string/app_name"></activity>
        <activity android:name=".activity.ButtonsActivity"/>
        <activity android:name=".SplashActivityLogoTop"/>
        <activity android:name=".SplashActivityLogoBottom"/>
        <activity android:name=".SplashActivityLogoCenterTitleTop"/>
        <activity android:name=".SplashActivityLogoCenterTitleBottom"/>
        <activity android:name=".SplashLauncher"/>
        <activity android:name=".ButtonsActivity"/>

    </application>

</manifest>
