<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <appSettings>
    <!--Appium Server Settings-->
    <add key="ServerAddress" value="127.0.0.1" />
    <add key="ServerPort" value="4723" />
    <add key="BootStrapPort" value="4724" />
    <!--<add key="udid" value="83f04b5342423034" />-->
    <!--<add key="udid" value="3208525585db713d" />-->
    <add key="udid" value="192.168.56.101:5555" />
    <add key="ServerApkPath" value="file://INGBTCPIC5DT071/Share/Build/iap.apk" />
    <add key="MobilePlatform" value="Android" />
    <add key="Version" value="5.0" />
    <add key="SystemOS" value="Windows" />
    <!--<add key="DeviceName" value="S5" />-->
    <add key="DeviceName" value="preview - google nexus 5x - 6.0.0 - api 23 - 1080x1920" />
    <add key="AppPackage" value="com.philips.cdp.di.iapdemo" />
    <!--<add key="VideoPackage" value="com.philips.iap.app" />-->
    <add key="AppActivity" value="com.philips.cdp.di.iapdemo.DemoAppActivity" />
    <add key="Browser" value="" />
    <add key="CommandTimeOut" value="30000" />
    <add key="CleanAppData" value="false" />
    <!--<add key="apkName" value="iap.apk" />-->
    <add key="apkName" value="D:/Philips/BuildAPK/iap.apk" />
    <!--Appium Server Settings - Manadatory To Start Test Execution-->
    
    <!--Settings for downloading file from server-->
    <add key="Source" value="file://INGBTCPIC5DT071/Share/Build/iap.apk" />
    <add key="Destination" value="D:/Philips/BuildAPK/iap.apk" />
    
    <add key="ServerBuildFileLoc" value="file://INGBTCPIC5DT071/Share/Build/buildVersionServer.txt" />
    <add key="ServerBuild" value="D:/Philips/BuildAPK/buildVersionServer.txt" />
    <add key="LocalBuild" value="D:/Philips/BuildAPK/buildVersionLocal.txt" />
  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>