[submodule "Documents/Internal/Localization"]
	path = Documents/Internal/Localization
	url = https://tfsemea1.ta.philips.com:8080/tfs/TPC_Region24/CDP2/_git/rap-android-reference-app
	branch = develop
