Jump/Doxygen/
Jump/.classpath
Jump/.settings/org.eclipse.jdt.core.prefs
RegistrationSampleApp/bin/
RegistrationSampleApp/gen/
RegistrationSampleApp/.settings/org.eclipse.jdt.core.prefs
RegistrationApiTest/bin/
RegistrationApiTest/.classpath
RegistrationApiTest/gen/
RegistrationSampleApp/.classpath
LocaleMatch/bin/
LocaleMatch/gen/
LocaleMatch/assets/
LocaleMatch/.settings/org.eclipse.jdt.core.prefs
