<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <add key="logfileLoc" value="D:\TFSServer\eCareCompanion\AutomationSetup.log"/>

    <!--ECC related Configuration-->
    <add key="DeployBuild" value="true" />
    <add key="CopyECCBuild" value="true" />
    <add key="ECCBuildLoc" value="\\149.59.230.71\eCC_Share\eCareCoordinator\1.1.1" />

    <add key="BuildDeploymentScript" value="qa-deploy.ps1" />
    <add key="LocalECCBuildLoc" value="D:\TestBuildECC\LatestECCBuild" />
    <add key="UserName" value="admin@eccqa1.org" />
    <add key="Password" value="Philips2!" />
    <add key="SecurityToken" value="E7AyINoeJQnpf1X2Z9Lc53AG" />
    <!--ECC related Configuration-->

    <!--ECP related Configuration make below config false if you do not need this-->
    <add key="CopyECPBuild" value="false" />
    <add key="RunAutomation" value="false" />    
    <add key="ReleaseBuild" value="http://161.85.25.89:8080/job/(BaltimoreTFS)%20eCareCompanionMainline/lastSuccessfulBuild/artifact/ECPApp/bin/ECPApp-release.apk" />
    <add key="PendingBuild" value="D:\TFSServer\eCareCompanion\LatestApk\ECPApp-release.apk" />
    <add key="localSource" value="D:\TFSServer\eCareCompanion\LatestApk\LastModifiedDate.txt" />
    <add key ="AntScriptFile" value="D:\TFSServer\eCareCompanion\Bin\Scripts\ExecuteAutomation.xml"/>
    <!--ECP related Configuration-->
    
    <add key="TestResultLocation" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>