<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.philips.cdp.prodreg"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.philips.cdp.prodreg.ProductRegistrationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Philips.DarkBlue.Gradient.WhiteBackground"
        tools:replace="android:icon,android:label,android:theme,android:name">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
