<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433  
	
	-->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
		<system.web>
			<compilation debug="true" targetFramework="4.5"/>
			<httpRuntime targetFramework="4.5"/>
		</system.web>

  <appSettings>
    <add key="HomePage_ProjectTitle" value="Connected Digital Platform and Proposition Test Automation Portal"/>
    <add key="TfsUsername" value="310211651"/>
    <add key="TfsPassword" value="Philips*123"/>
    <add key="TfsDomain" value="CODE1"/>
    <add key="TfsCollectionUri" value= "http://sggsgpdcs1vw032:8080/tfs/TFS2013_Staging"/>
    <add key="TfsProject" value="CDP_TestAutomation"/>
    <!--Make changes to 'regressionSuiteName' in case the value of AvailableSuites for Regression Test has to be changed-->
    <add key="AvailableSuites" value="CDPTestPlatform:Regression Test,ReliabilityTest:Reliability Test"/>
    <add key="reliabilitySuiteType" value="Reliability Test"/>
    <add key="ProjectName" value="CDP_TestAutomation"/>
    <add key="TileCount" value="10"/>
    <add key="PathForChartData" value="file://Ingbtcpic5dt071/performance_logs_csv"/>
    <add key="PathForReliabilityData" value="file://INGBTCPIC5DT071/BuildAPK/RELIABILITY_LOGS"/>
    <add key ="HostForSTFApp" value="http://161.85.93.142:7100/auth/mock/"/>
    <add key="PathForBuildVersion" value="file://INGBTCPIC5DT071/BuildAPK/buildVersionLocal.txt"/>
    <add key="PageTitle" value="CDPP_TestAutomation"/>
  </appSettings>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
