### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### IntelliJ ###
*.iml
*.ipr
*.iws
**.idea

### Java ###
*.class

### Gradle ###
build/
.gradle/

.characteristics
.classpath
.project

Source/DemoApp/\.idea/runConfigurations\.xml
