<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecs.demotestuapp" >

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CALL_PHONE" />

<application android:theme="@style/Theme.DLS">

<activity
    android:label="ECS Demo Activity"
    android:name=".integration.EcsDemoTestAppActivity"
    android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
    android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />

    <activity
        android:label="ECS Demo Activity"
        android:name=".activity.EcsDemoResultActivity"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
        android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />


    <activity
        android:label="ECS Demo Activity"
        android:name=".activity.FetchProductsInputActivity"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
        android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />

    <activity
        android:label="ECS Demo Activity"
        android:name=".activity.SpinnerInputActivity"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
        android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />

    <activity
        android:label="ECS Demo Activity"
        android:name=".activity.FetchSummariesInputActivity"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
        android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />

</application>

</manifest>
