<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.cl.di.dev.pa"
    android:versionCode="007"
    android:versionName="0.0.7" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.philips.cl.di.dev.pa.PurAirApplication"
        android:allowBackup="true"
        android:icon="@drawable/purair_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >

        <!-- For map -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDP24H843JsLzbCKFuhqAnXaVJ80DHFpoM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.philips.cl.di.dev.pa.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.FilterDetailsActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.TrendsActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.AirTutorialActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.OutdoorDetailsActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.IndoorDetailsActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.MapOdActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.TutorialPagerActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.TermsAndConditionsActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.NotificationSelectDayActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.CreateNotificationActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.OutdoorAirColorIndicationActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.IndoorAirColorIndicationActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.activity.AirColorExplainedStaticActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
         <activity
            android:name="com.philips.cl.di.dev.pa.ews.EWSActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.firmware.FirmwareUpdateActivity"
            android:screenOrientation="sensorPortrait" >
        </activity>
    </application>

</manifest>