<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.cl.di.dev.pa"
    android:versionCode="1"
    android:versionName="DI_PurAir_1.0.0.667" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.philips.cl.di.dev.pa.screens.BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.screens.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.philips.cl.di.dev.pa.screens.FilterDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.philips.cl.di.dev.pa.screens.TrendsActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>