<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.philips.cdp.appframework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        tools:replace="android:theme"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
       android:theme="@style/Theme.Philips.DarkBlue">

        <activity android:name="com.philips.cdp.appframework.splash.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".introscreen.IntroductionScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <receiver
            android:name="com.philips.cdp.appframework.utility.NetworkReceiver"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>