<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.philips.cdp.di.mecdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoApplication"
        android:icon="@drawable/app_icon"
        android:allowBackup="false"
        android:label="@string/demo_app_name"
        android:resizeableActivity="true"
        android:theme="@style/Theme.DLS"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:label, android:supportsRtl, android:resizeableActivity">

        <activity
            android:name=".LuncherActivity"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
         This activity declaration is merged with the version from the library manifest.
         It demonstrates how an https redirect can be captured, in addition to or instead of
         a custom scheme.

         Generally, this should be done in conjunction with an app link declaration for Android M
         and above, for additional security and an improved user experience. See:

         https://developer.android.com/training/app-links/index.html

         The declaration from the library can be completely replaced by adding

         tools:node="replace"

         To the list of attributes on the activity element.
         -->
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="com.googleusercontent.apps.346000571262-m5u27lu130n1h1i2vbsggo34ae6nr1hp"
                    android:path="/oauth2redirect" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.janrain.android.engage.OpenIDAppAuthTokenActivity"
            android:label="SimpleDemoApplication"
            android:theme="@style/Theme.Janrain.Dialog.Light"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name="com.janrain.android.engage.OpenIDAppAuthCancelledActivity"
            android:label="SimpleDemoApplication"
            android:theme="@style/Theme.Janrain.Dialog.Light"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>
