<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.philips.cdp.di.iap"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Philips.DarkBlue.Gradient.WhiteBackground">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <!-- Network state change receiver -->
        <receiver android:name="com.philips.cdp.di.iap.receiver.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
