<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecs.demouapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application android:theme="@style/Theme.DLS">

        <activity
            android:name=".integration.DemoAppActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />

        <activity
            android:name=".ui.activity.IAPActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            />

    </application>

</manifest>
