Source/CatalogApp/.idea/.name
Source/CatalogApp/.idea/compiler.xml
Source/CatalogApp/.idea/encodings.xml
Source/CatalogApp/.idea/gradle.xml
Source/CatalogApp/.idea/misc.xml
Source/CatalogApp/.idea/modules.xml
Source/CatalogApp/.idea/runConfigurations.xml
Source/CatalogApp/.idea/vcs.xml
Source/CatalogApp/.idea/copyright/profiles_settings.xml
Source/CatalogApp/.idea/inspectionProfiles/profiles_settings.xml
Source/CatalogApp/.idea/inspectionProfiles/Project_Default.xml
Spikes/Integration_Spike/CatalogApp/.idea/compiler.xml
Spikes/Integration_Spike/CatalogApp/.idea/misc.xml
Spikes/Integration_Spike/CatalogApp/.idea/vcs.xml
Spikes/Integration_Spike/CatalogApp/.idea/workspace.xml
Spikes/Integration_Spike/CatalogApp/.idea/copyright/profiles_settings.xml
Spikes/Integration_Spike/CatalogApp/.idea/inspectionProfiles/profiles_settings.xml
Spikes/Integration_Spike/CatalogApp/.idea/inspectionProfiles/Project_Default.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/compiler.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/misc.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/vcs.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/workspace.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/copyright/profiles_settings.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/inspectionProfiles/profiles_settings.xml
Spikes/Integration_Spike/CatalogApp/app/.idea/inspectionProfiles/Project_Default.xml
Source/UIKit/dlsresources/src/main/groovy/com/philips/out/
Source/UIKit/dlsresources/build/
Source/UIKit/dlsresources/generated/
Spikes/Story_14144_Tooltip/.idea/vcs.xml
