<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.platform.devicepair">

    <application
        android:supportsRtl="true">
        <activity
            android:name="com.philips.platform.devicepair.ui.DevicePairingLaunchActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
