<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>

  <appSettings>
    <add key="COMPort" value="COM5" />
    <!--Appium Server Settings-->
    <add key="ServerAddress" value="127.0.0.1" />
    <add key="ServerPort" value="4723" />
    <add key="BootStrapPort" value="4724" />
    <!--<add key="udid" value="83f04b5342423034" />-->
    <!--<add key="udid" value="84bacceb" />-->
    <!--<add key="udid" value="1215fc6cdf5d0604"/>-->
    <!--<add key="udid" value="520099616858239b" -->
    <add key="udid" value="4200cb43d3134300" />
    <!--<add key="udid" value="99fdb8fc" />-->
    <!--<add key="udid" value="192.168.56.101:5555" />-->
    <!--<add key="ServerApkPath" value="file://INGBTCPIC5DT071/Share/Build/iap.apk" />-->
    <add key="ServerApkPath" value="C:/dev/reference_app_androidDev/Source/AppFramework/appFramework/build/outputs/apk/referenceApp-debug.apk" />
    <add key="MobilePlatform" value="Android" />
    <add key="Version" value="5.0" />
    <add key="SystemOS" value="Windows" />
    <!--<add key="DeviceName" value="S5" />-->
    <add key="DeviceName" value="preview - google nexus 5x - 6.0.0 - api 23 - 1080x1920" />
    <!--<add key="AppPackage" value="com.philips.cdp.di.iapdemo" />-->
    <!--<add key="AppActivity" value="com.philips.cdp.di.iapdemo.DemoAppActivity" />-->
    <add key="AppPackage" value="com.philips.platform.appframework" />
    <!--<add key="VideoPackage" value="com.philips.iap.app" />-->
    <add key="AppActivity" value="com.philips.platform.appframework.splash.SplashActivity" />
    <add key="Browser" value="" />
    <add key="CommandTimeOut" value="100000" />
    <add key="CleanAppData" value="false" />
    <add key="UninstallApp" value="true" />
    <!--<add key="apkName" value="iap.apk" />-->
    <add key="apkName" value="C:/dev/reference_app_androidDev/Source/AppFramework/appFramework/build/outputs/apk/referenceApp-debug.apk" />
    <add key="IapApkLoc" value="C:/Philips/BuildAPK/iap" />
    <!--Appium Server Settings - Manadatory To Start Test Execution-->

    <!--Dharmil :: April 13, 2016 :: Added Configurations for iOS device-->
    <!--Appium Server Settings for IOS-->
    <add key="MobilePlatformForTest" value="Android" />
    <!--Change the value based on the device used for testing (Android/iOS)-->
    <add key="iOSServerAddress" value="161.85.94.124" />
    <add key="iOSServerPort" value="4723" />
    <add key="iOSSSHUsername" value="apple" />
    <add key="iOSSSHPassword" value="apple" />
    <add key="iOSudid" value="7c7b21a67ee0660544f0582072ff9f4149ca4e78" />
    <add key="iOSServerIpaPath" value="" />
    <add key="iOSMobilePlatform" value="iOS" />
    <add key="iOSVersion" value="8.1" />
    <add key="iOSSystemOS" value="Mac" />
    <!--<add key="DeviceName" value="S5" />-->
    <add key="iOSDeviceName" value="Rakesh’s iPhone" />
    <add key="iOSBundleId" value="com.philips.Iap.dev" />
    <add key="iOSFullReset" value="false" />
    <!--<add key="apkName" value="iap.apk" />-->
    <add key="iOSAppPath" value="/Users/apple/Desktop/iOSApplication/InAppCarrier.ipa" />
    <add key="iOSIapAppLoc" value="" />
    <!--Appium Server Settings - Manadatory To Start Test Execution-->


    <!--performance apk-->
    <add key="IsPerformanceMonitoringEnable" value="false" />
    <add key="PerformanceApkServer" value="file://INGBTCPIC5DT071/Share/Build/performance.apk" />
    <add key="PerformanceApk" value="C:/Philips/BuildAPK/performance.apk" />
    <add key="PerformanceApkLoc" value="C:/Philips/BuildAPK/performance" />
    <add key="PerformanceAppPackage" value="philips.iapperfmon" />
    <add key="PerformanceAppActivity" value="philips.iapperfmon.MainActivity" />
    <add key="PerfMonLogFolder" value="C:/Philips/BuildAPK/PERFORMANCE_LOGS_CSV/PL_" />
    <add key="IapPidLoc" value="C:/Philips/BuildAPK/iappid_" />

    <!--Settings for downloading file from server-->
    <add key="Source" value="C:/dev/reference_app_androidDev/Source/AppFramework/appFramework/build/outputs/apk/referenceApp-debug.apk" />
    <add key="Destination" value="C:/dev/reference_app_androidDev/Source/AppFramework/appFramework/build/outputs/apk/referenceApp-debug.apk" />

    <add key="ServerBuildFileLoc" value="file://INGBTCPIC5DT071/Share/Build/buildVersionServer.txt" />
    <add key="ServerBuild" value="C:/Philips/BuildAPK/buildVersionServer.txt" />
    <add key="LocalBuild" value="C:/Philips/BuildAPK/buildVersionLocal.txt" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="WAIT_TIME" value="6000" />
    <add key="AppName" value="" />
    <add key="TK_SCRNSHOT" value="true" />
 
    <add key="DownloadBuild" value="true" />
    <add key="InstallBuild" value="true" />
    <add key="UseRestAPI" value="true" />
 
    <add key="SendMailNotification" value="false" />
    <add key="functionalAccount" value="" />
    <add key="functionalAccountPwd" value="" />
    <add key="ToList" value="" />
 
    <add key="SuiteName" value="" />

    <!--Workflow related configuration -->
    <add key="UsernameIAP" value="iaptest.philips@gmail.com" />
    <add key="PasswordIAP" value="Philips@123" />
    <add key="UsernameIAP1" value="sai.lokesh@philips.com" />

    <!--Configuration for parallel execution -->
    <add key="Parallel" value="false" />
    <add key="DeviceID" value="" />
    <add key="Device_1_ID" value="" />
    <add key="Device_2_ID" value="" />
    <add key="PushNotificationTime" value="120" />
    <!--RestClientExtended.cs - for authorization in API calls -->
    <add key="BaseURLforRESTCalls" value="https://acc.occ.shop.philips.com/pilcommercewebservices/" />
    <add key="BaseURLforJanrain" value="https://philips.eval.janraincapture.com/" />
    <!--UUID for logged in user inapptest@mailinator.com-->
    <!--<add key="UserUUID" value="5a96d8fc-80a5-4d74-a62b-b1c4c6a78a88"/>-->
    <add key="UserUUID" value="dacf7361-f47a-4b07-ad61-a224072e7c42" />
    <add key="ReliabilityLogsPath" value="C:/Philips/BuildAPK/RELIABILITY_LOGS/" />
    <add key="ReliabilityLoopCount" value="1" />
    <add key="envForRESTCalls" value="Prod" />
    <add key="BaseURLforRESTCallsProd" value="https://acc.occ.shop.philips.com/pilcommercewebservices/" />
    <!--<add key="BaseURLforRESTCallsTst" value="https://tst.pl.shop.philips.com/pilcommercewebservices/"/>-->
    <add key="BaseURLforRESTCallsTst" value="https://tst.admin.shop.philips.com/pilcommercewebservices/" />
    <add key="BaseURLforJanrain" value="https://philips.eval.janraincapture.com/" />
    <add key="SiteNameForUS" value="US_Tuscany" />
    <add key="SiteNameForUK" value="UK_Tuscany" />
  </appSettings>

  <log4net>
    <appender name="TestLoggerAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogPath}\TestResultsLog_%property{DateTime}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd-HHmm" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="TestLoggerAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
  <plugins>
    <add name="SpecRun" />
</plugins>
</specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>