<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.platform.uid">

    <application
        android:theme="@style/Theme.DLS">
        <activity
            android:name="com.philips.platform.uid.activity.OrientationChangeActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.philips.platform.uid.activity.BaseTestActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.philips.platform.uid.activity.LandscapeModeActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>