Staging
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/hor-philipsuikit-android.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Source/CatalogApp/gradle.properties___
