<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.platform.catalogapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CatalogApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/catalog_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DLS.GroupBlue.UltraLight">
        <activity
            android:name=".MainActivity"
            android:label="@string/catalog_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreenActivity" />
    </application>

</manifest>