<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.platform.mya.demoapp"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.philips.platform.mya.demoapp.MyaDemoApplication"
        android:icon="@mipmap/pr_source"
        android:label="@string/my_account_app_name"
        android:roundIcon="@mipmap/pr_source"
        android:theme="@style/Theme.DLS.GroupBlue.UltraLight"
        tools:replace="android:label,android:icon,android:theme"
        android:supportsRtl="true" >
        <activity
            android:name="com.philips.platform.mya.demoapp.MyaDemoActivity"
            android:label="@string/my_account_app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.philips.themesettings.ThemeSettingsActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="com.googleusercontent.apps.346000571262-m5u27lu130n1h1i2vbsggo34ae6nr1hp"
                    android:path="/oauth2redirect"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.janrain.android.engage.OpenIDAppAuthTokenActivity"
            android:label="SimpleDemoApplication"
            android:theme="@style/Theme.Janrain.Dialog.Light"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.janrain.android.engage.OpenIDAppAuthCancelledActivity"
            android:label="SimpleDemoApplication"
            android:theme="@style/Theme.Janrain.Dialog.Light"
            android:windowSoftInputMode="stateHidden">
        </activity>

    </application>



</manifest>