
android-support-v7-appcompat/bin/

android-support-v7-appcompat/gen/
LaunchDigitalCare/bin/
FacebookSDK/.settings/org.eclipse.jdt.core.prefs
Hor-productselection-android/app/build/
Hor-productselection-android/digitalCare/build/
*.iml
Hor-productselection-android/build/
Hor-productselection-android/.idea/
Hor-productselection-android/.gradle/
Hor-productselection-android/local.properties
.idea/
Hor-productselection-android/gradle.properties
