<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mec.demouapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@style/Theme.DLS">
        <activity android:name=".DemoLauncherActivity"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LaunchAsFragment" />
        <activity android:name=".LaunchAsActivity" />
        <activity android:name=".BaseDemoActivity" />
        <activity
            android:name=".DemoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />
        <activity
            android:name=".DemoFragmentActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DLS.GroupBlue.UltraLight" />
    </application>

</manifest>