/Source/Library/.gradle
Source/Library/.idea/.name
Source/Library/.idea/compiler.xml
Source/Library/.idea/copyright/profiles_settings.xml
Source/Library/.idea/gradle.xml
Source/Library/.idea/misc.xml
Source/Library/.idea/modules.xml
Source/Library/.idea/vcs.xml
Source/Library/.idea/workspace.xml
Source/Library/launchDigitalCare/.idea/.name
Source/Library/launchDigitalCare/.idea/compiler.xml
Source/Library/launchDigitalCare/.idea/copyright/profiles_settings.xml
Source/Library/launchDigitalCare/.idea/gradle.xml
Source/Library/launchDigitalCare/.idea/misc.xml
Source/Library/launchDigitalCare/.idea/modules.xml
Source/Library/launchDigitalCare/.idea/runConfigurations.xml
Source/Library/launchDigitalCare/.idea/vcs.xml
Source/Library/launchDigitalCare/.idea/workspace.xml
Source/Library/launchDigitalCare/local.properties
Source/Library/local.properties
/Source/Library/.idea
/Source/Library/launchDigitalCare/.idea
/Source/Library/launchDigitalCare/build
/Source/Library/digitalCare/build
Source/Library/build/intermediates/dex-cache/cache.xml
/Source/Library/settings.gradle
Source/DemoApp/DigitalCareDemoApp/local.properties
Source/Library/digitalCare/.idea/
Source/DemoApp/DigitalCareDemoApp/launchDigitalCare/local.properties
Documents/Internal/localization files/~$MASTER_DigitalCare_Localization_30_Apr_2016.xlsx
